# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
.DS_Store
vendor/*
app/cache/*
app/logs/*
*~

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
